DB_CONFIG__NAME=YOUR_DB_NAME
DB_CONFIG__HOST=YOUR_DB_HOST
DB_CONFIG__PORT=YOUR_DB_PORT
DB_CONFIG__USER=YOUR_DB_USER
DB_CONFIG__PASSWORD=YOUR_DB_PASS

SPX_CONFIG__RESULTS_URL="https://spimex.com/markets/oil_products/trades/results/"
SPX_CONFIG__UPLOAD_URL="https://spimex.com + NAME EXCELS FILES (it will be taken by download service)"
SPX_CONFIG__PATH_TO_FOLDER="PATH TO YOUR FOLDER WHERE EXCEL FILES WILL BE DOWNLOADED"
